/*------------------
   Profile Page
  ------------------*/
.profile-controls {
  padding: 10px 0;
  text-align: center;
  margin: 0 auto;
}

.filter {
  background: none;
  border: 1px solid #343333;
  color: #343333;
  margin: 10px 0;
  padding: 5px 55px;
  -webkir-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  &:hover, &.active {
    background: #343333;
    color: #fff;
  }
}

.button-active {
  background: #343333;
  color: #fff;
}

.services {
  text-align: center;
  padding: 15px;
  -webkir-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.facts {
  margin-bottom: 20px;
}

.facts-overlay {
  padding: 40px;
  background-color: rgb(35, 46, 52);
}

.facts {
  i {
    color: #ffffff;
    margin-bottom: 20px;
  }
  p {
    color: #fff;
    &.count {
      font-size: 29px;
    }
  }
}

.team-member-box {
  background-color: #f3f3f3;
  border: 1px solid #F3f3f3;
  margin-bottom: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  h4 {
    margin-bottom: 5px;
    margin-top: 15px;
    /*font-size: 18px;*/
    font-size: 1.5em;
  }
  p {
    color: #a3a2a2;
  }
  &:hover {
    box-shadow: 3px 5px 9px #dfdfdf;
  }
}

.video {
  box-shadow: 2px 5px 9px #dfdfdf;
  iframe {
    width: 560px;
    height: 315px;
  }
}



:host ::ng-deep .profile-page .about-us-desc p{
  font-size: 1em;
  line-height: 1.42;
  &:first-child {
    font-size: 17px !important;
  }
  &:last-child {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
    -webkit-column-gap: 30px;
    /* Chrome, Safari, Opera */
    -moz-column-gap: 30px;
    /* Firefox */
    column-gap: 30px;
    font-size: 14px;
  }
}

/* First, define the common wrapper elements 
   Padding-top is for the fixed height header of the embedded content */

.youtubeWrapper {
  padding-top: 30px;
  height: 0;
  padding-bottom: 56.25%;
  iframe, object, embed {
    top: 0;
    left: 0;
  }
}

:host ::ng-deep .profile-page .about-us-desc{
  .user-image {
    overflow:hidden;
	float:left;
  }
  .social-media {
	font-size: 25px;
	margin-top:0%;
	margin-bottom:5%;
	text-align: center;
  }
  .social-media a {
	color: #4b4b4b;
	text-decoration: none;
	outline: 0 none;
	padding: 0 10px;
  }
}
