/* Homepage */

.home-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* Introduction Section */

.introduction {
  float: left;
  padding: 0;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.mask {
  width: 100%;
  height: 45%;
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  margin: 4% 26%;
  float: none;
}

.intro-content {
  font-family: 'Playfair Display', serif;
  position: relative;
  z-index: 10;
  top: 50%;
  display: table;
  margin: 0 auto;
  h1 {
    color: #4b4b4b;
    display: block;
    font-family: 'Playfair Display', serif;
    padding-left: 50px;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 700;
  }
  span {
    color: #035d63;
    font-size: 80px;
    font-weight: 700;
    line-height: 0px;
    letter-spacing: 1px;
    &.number {
      font-size: 15em;
    }
  }
  .slogan-text {
    font-weight: 400;
    font-size: 25px;
    padding-left: 21px;
  }
}

.slogan-text a {
  color: #035d63;
}

.social-media {
  font-size: 25px;
  margin-top: 50px;
  text-align: center;
  a {
    color: #4b4b4b;
    text-decoration: none;
    outline: 0 none;
    padding: 0 10px;
    + .tooltip > {
      .tooltip-inner {
        background-color: transparent;
        color: #00B796;
        font-size: 16px;
      }
      .tooltip-arrow {
        border-bottom-color: transparent;
      }
    }
    &:hover {
      color: #00B796;
    }
  }
}

/*Bootstrap tooltips Customized*/

/* Navigation Menu */

.menu {
  float: left;
  padding: 0;
  position: relative;
  background: #000;
  > div {
    width: 50%;
    height: 50%;
    overflow: hidden;
    float: left;
    position: relative;
    cursor: pointer;
    > img {
      position: absolute;
      top: 0;
      left: 0;
      -webkit-transition: -webkit-transform 1s linear;
      -moz-transition: -moz-transform 1s linear;
      -ms-transition: -ms-transform 1s linear;
      -o-transition: -o-transform 1s linear;
      transition: transform 1s linear;
    }
    &:hover > img {
      -webkit-transform: scale(1.2);
      -moz-transform: scale(1.2);
      -ms-transform: scale(1.2);
      -o-transform: scale(1.2);
      transform: scale(1.2);
    }
  }
}

.heading {
  position: relative;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  i {
    background: transparent;
    border-radius: 50%;
    border: 1px solid #ffffff;
    color: #ffffff;
    display: block;
    font-size: 25px;
    height: 60px;
    line-height: 60px;
    margin: auto auto 10px;
    text-align: center;
    width: 60px;
    -webkir-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
  }
}

.menu > div {
  &:hover .heading i {
    box-shadow: 0 0 0 50px rgba(256, 256, 256, 0);
  }
  h2 {
    color: #fff;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    font-weight: 100;
    text-align: center;
    margin: 0;
    letter-spacing: 1px;
    span {
      color: #00B796;
    }
  }
}